<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Dartmouth Class of 2011 Last Chances</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23367713-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body>
        <div class="mainoutline">
        <h1>Dartmouth '11 Last Chances</h1>
        
        <p><span class="loud"><strong>Find hookups, etc.</strong><br>
            Logged in as {{id}}. (<a href="{{logout_url}}">Log out</a>)
            </span>
            </p>

        <p>
        Enter up to 11 names - DND entries work ('11s only).<br>
        Your picks are kept private unless you are matched. Matches are done by a computer.<br>
        Also - use normal characters, no crazy accents and stuff, DND doesn't like them:<br>
        <form id="mainform" action="/entry" method="post">
            <input id="c0" name="c" type="text" value="{{v.0}}"/>{{comments.0}}<br>
            <input id="c1" name="c" type="text" value="{{v.1}}"/>{{comments.1}}<br>
            <input id="c2" name="c" type="text" value="{{v.2}}"/>{{comments.2}}<br>
            <input id="c3" name="c" type="text" value="{{v.3}}"/>{{comments.3}}<br>
            <input id="c4" name="c" type="text" value="{{v.4}}"/>{{comments.4}}<br>
            <input id="c5" name="c" type="text" value="{{v.5}}"/>{{comments.5}}<br>
            <input id="c6" name="c" type="text" value="{{v.6}}"/>{{comments.6}}<br>
            <input id="c7" name="c" type="text" value="{{v.7}}"/>{{comments.7}}<br>
            <input id="c8" name="c" type="text" value="{{v.8}}"/>{{comments.8}}<br>
            <input id="c9" name="c" type="text" value="{{v.9}}"/>{{comments.9}}<br>
            <input id="c10" name="c" type="text" value="{{v.10}}"/>{{comments.10}}<br>
            <!--<input type="submit" value="Save"/>-->Sorry, too late for changes.
        </form>
        </p>
        <hr/>
        <p>
        You'll receive an email with matches at:
        <form action="/email" method="post">
            <input id="email" name="email" type="text" value="{{email}}" size="40"/><br>
            <input type="submit" value="Save"/>
        </form>
        </p>
        </div>
        <div class="footer">
            Home | <a href="/pages/about.html">About</a><br>
            660 people, 3743 entries and counting. What are your chances?
        </div>
    </body>
</html>
