<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Dartmouth Class of 2011 Last Chances</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <div class="mainoutline">
        <h1>Dartmouth '11 Last Chances</h1>
        
        <p><span class="loud"><strong>Find crushes, etc.</strong><br>
            Logged in as {{id}}.
            </span>
            </p>

        <p>
        Enter up to 10 names:
        <form action="/entry" method="post">
            <input id="c0" name="c" type="text" value="{{v.0}}"/>{{comments.0}}<br>
            <input id="c1" name="c" type="text" value="{{v.1}}"/>{{comments.1}}<br>
            <input id="c2" name="c" type="text" value="{{v.2}}"/>{{comments.2}}<br>
            <input id="c3" name="c" type="text" value="{{v.3}}"/>{{comments.3}}<br>
            <input id="c4" name="c" type="text" value="{{v.4}}"/>{{comments.4}}<br>
            <input id="c5" name="c" type="text" value="{{v.5}}"/>{{comments.5}}<br>
            <input id="c6" name="c" type="text" value="{{v.6}}"/>{{comments.6}}<br>
            <input id="c7" name="c" type="text" value="{{v.7}}"/>{{comments.7}}<br>
            <input id="c8" name="c" type="text" value="{{v.8}}"/>{{comments.8}}<br>
            <input id="c9" name="c" type="text" value="{{v.9}}"/>{{comments.9}}<br>
            <input type="submit" value="Save"/>
        </form>
        </p>
        </div>
        <div class="footer">Home | <a href="/pages/about.html">About</a></div>
    </body>
</html>
